KhajeNasirAccountingSystem/KhajeNasirAccountingSystemWindowsFormClient/Service References/DepositTransactionsService/DepositTransactionsService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.10:81/DepositTransactionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" />
  <xs:import schemaLocation="http://192.168.0.10:81/DepositTransactionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetPeopleDepositTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleDepositTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" minOccurs="0" name="GetPeopleDepositTransactionsResult" nillable="true" type="q1:ArrayOfView_Update1_PeopleDeposit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnPermittedDepositTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnPermittedDepositTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" minOccurs="0" name="UnPermittedDepositTransactionsResult" nillable="true" type="q2:ArrayOfDepositSelectCommandResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepositTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepositTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" minOccurs="0" name="GetDepositTransactionsResult" nillable="true" type="q3:ArrayOfDepositSelectCommandResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepositTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q4:guid" />
        <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="BankFollowUpCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdminPermission" type="xs:boolean" />
        <xs:element minOccurs="0" name="AdminNationalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonNationalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDepositTransactionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepositTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q5:guid" />
        <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="BankFollowUpCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdminPermission" type="xs:boolean" />
        <xs:element minOccurs="0" name="AdminNationalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonNationalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepositTransactionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepositTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Original_Id" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepositTransactionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>