KhajeNasirAccountingSystem/KhajeNasirAccountingSystemWindowsFormClient/Service References/ChequeService/ChequeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.10:85/ChequeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCheque">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cheque" nillable="true" type="tns:Cheque" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheque" nillable="true" type="tns:ArrayOfCheque" />
  <xs:complexType name="Cheque">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminNationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConsecutiveNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IssuanceDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="People" nillable="true" type="tns:People" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cheque" nillable="true" type="tns:Cheque" />
  <xs:complexType name="People">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Cheques" nillable="true" type="tns:ArrayOfCheque" />
      <xs:element minOccurs="0" name="Contribution" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepositTransactions" nillable="true" type="tns:ArrayOfDepositTransaction" />
      <xs:element minOccurs="0" name="DepositTransactions1" nillable="true" type="tns:ArrayOfDepositTransaction" />
      <xs:element minOccurs="0" name="FathersName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanTransactions" nillable="true" type="tns:ArrayOfLoanTransaction" />
      <xs:element minOccurs="0" name="LoanTransactions1" nillable="true" type="tns:ArrayOfLoanTransaction" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="People" nillable="true" type="tns:People" />
  <xs:complexType name="ArrayOfDepositTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepositTransaction" nillable="true" type="tns:DepositTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepositTransaction" nillable="true" type="tns:ArrayOfDepositTransaction" />
  <xs:complexType name="DepositTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminNationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminPermission" type="xs:boolean" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankFollowUpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="People" nillable="true" type="tns:People" />
      <xs:element minOccurs="0" name="People1" nillable="true" type="tns:People" />
      <xs:element minOccurs="0" name="PersonNationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepositTransaction" nillable="true" type="tns:DepositTransaction" />
  <xs:complexType name="ArrayOfLoanTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanTransaction" nillable="true" type="tns:LoanTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanTransaction" nillable="true" type="tns:ArrayOfLoanTransaction" />
  <xs:complexType name="LoanTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminNationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminPermission" type="xs:boolean" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankFollowUpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ForContribution" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Installements" nillable="true" type="tns:ArrayOfInstallement" />
      <xs:element minOccurs="0" name="People" nillable="true" type="tns:People" />
      <xs:element minOccurs="0" name="People1" nillable="true" type="tns:People" />
      <xs:element minOccurs="0" name="PersonNationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanTransaction" nillable="true" type="tns:LoanTransaction" />
  <xs:complexType name="ArrayOfInstallement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Installement" nillable="true" type="tns:Installement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstallement" nillable="true" type="tns:ArrayOfInstallement" />
  <xs:complexType name="Installement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsPayed" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoanTransaction" nillable="true" type="tns:LoanTransaction" />
      <xs:element minOccurs="0" name="LoanTransactionId" type="ser:guid" />
      <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Installement" nillable="true" type="tns:Installement" />
</xs:schema>