KhajeNasirAccountingSystemReportClient/KhajeNasirAccountingSystemReportClient/Service References/DatabaseLogsService/LogService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.10:85/LogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" />
  <xs:element name="GetTopLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" minOccurs="0" name="GetTopLogsResult" nillable="true" type="q1:ArrayOfLogSet_SelectResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>