KhajeNasirAccountingSystemReportClient/KhajeNasirAccountingSystemReportClient/Service References/PeopleService/PeopleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PeopleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.10:85/PeopleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.10:85/PeopleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.10:85/PeopleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPeopleService_GetPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeople" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_InsertPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPeople" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_InsertPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_UpdatePeople_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePeople" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_UpdatePeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_DeletePeople_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePeople" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_DeletePeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IPeopleService">
    <wsdl:operation name="GetPeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/GetPeople" message="tns:IPeopleService_GetPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/GetPeopleResponse" message="tns:IPeopleService_GetPeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/GetPerson" message="tns:IPeopleService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/GetPersonResponse" message="tns:IPeopleService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/InsertPeople" message="tns:IPeopleService_InsertPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/InsertPeopleResponse" message="tns:IPeopleService_InsertPeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/UpdatePeople" message="tns:IPeopleService_UpdatePeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/UpdatePeopleResponse" message="tns:IPeopleService_UpdatePeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/DeletePeople" message="tns:IPeopleService_DeletePeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/DeletePeopleResponse" message="tns:IPeopleService_DeletePeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/Login" message="tns:IPeopleService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/LoginResponse" message="tns:IPeopleService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPeopleService" type="tns:IPeopleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPeople">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/GetPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPeople">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/InsertPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePeople">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/UpdatePeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePeople">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/DeletePeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeopleService">
    <wsdl:port name="BasicHttpBinding_IPeopleService" binding="tns:BasicHttpBinding_IPeopleService">
      <soap:address location="http://192.168.1.10:85/PeopleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>