KNAC/KNAC/Web References/PeopleService/PeopleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPeopleSelectCommandResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeopleSelectCommandResult" nillable="true" type="tns:PeopleSelectCommandResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeopleSelectCommandResult" nillable="true" type="tns:ArrayOfPeopleSelectCommandResult" />
  <xs:complexType name="PeopleSelectCommandResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FathersName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeopleSelectCommandResult" nillable="true" type="tns:PeopleSelectCommandResult" />
  <xs:complexType name="LoginDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginDetails" nillable="true" type="tns:LoginDetails" />
</xs:schema>