KhajeNasirAccountingSystem/KhajeNasirAccountingSystemWindowsFormClient/Service References/LoanTransactionsService/LoanTransactionsService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.10:81/LoanTransactionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" />
  <xs:import schemaLocation="http://192.168.0.10:81/LoanTransactionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="UnPermittedLoanTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnPermittedLoanTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" minOccurs="0" name="UnPermittedLoanTransactionsResult" nillable="true" type="q1:ArrayOfLoanSelectCommandResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermittedLoanTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PermittedLoanTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" minOccurs="0" name="PermittedLoanTransactionsResult" nillable="true" type="q2:ArrayOfLoanSelectCommandResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" minOccurs="0" name="GetLoanTransactionsResult" nillable="true" type="q3:ArrayOfLoanSelectCommandResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleLoanTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleLoanTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" minOccurs="0" name="GetPeopleLoanTransactionsResult" nillable="true" type="q4:ArrayOfView_Update1_PeopleLoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLoanTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q5:guid" />
        <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="BankFollowUpCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdminPermission" type="xs:boolean" />
        <xs:element minOccurs="0" name="AdminNationalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonNationalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLoanTransactionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q6:guid" />
        <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="BankFollowUpCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdminPermission" type="xs:boolean" />
        <xs:element minOccurs="0" name="AdminNationalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonNationalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanTransactionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoanTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Original_Id" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoanTransactionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>