KhajeNasirAccountingSystem/KhajeNasirAccountingSystemWindowsFormClient/Service References/LoanTransactionsService/LoanTransactionsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.10:81/LoanTransactionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfLoanSelectCommandResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanSelectCommandResult" nillable="true" type="tns:LoanSelectCommandResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanSelectCommandResult" nillable="true" type="tns:ArrayOfLoanSelectCommandResult" />
  <xs:complexType name="LoanSelectCommandResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminNationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminPermission" type="xs:boolean" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankFollowUpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="PersonNationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanSelectCommandResult" nillable="true" type="tns:LoanSelectCommandResult" />
  <xs:complexType name="ArrayOfView_Update1_PeopleLoan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="View_Update1_PeopleLoan" nillable="true" type="tns:View_Update1_PeopleLoan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfView_Update1_PeopleLoan" nillable="true" type="tns:ArrayOfView_Update1_PeopleLoan" />
  <xs:complexType name="View_Update1_PeopleLoan">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminNationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminPermission" type="xs:boolean" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankFollowUpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanId" type="ser:guid" />
      <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="View_Update1_PeopleLoan" nillable="true" type="tns:View_Update1_PeopleLoan" />
</xs:schema>