KhajeNasirAccountingSystem/KhajeNasirAccountingSystemWindowsFormClient/Service References/LoanTransactionsService/LoanTransactionsService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoanTransactionsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.10:85/LoanTransactionsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.10:85/LoanTransactionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.10:85/LoanTransactionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoanTransactionsService_SetLoanPermission_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLoanPermission" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_SetLoanPermission_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLoanPermissionResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_ContributionLoan_InputMessage">
    <wsdl:part name="parameters" element="tns:ContributionLoan" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_ContributionLoan_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContributionLoanResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_UnPermittedLoanTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:UnPermittedLoanTransactions" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_UnPermittedLoanTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnPermittedLoanTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_PermittedLoanTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:PermittedLoanTransactions" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_PermittedLoanTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:PermittedLoanTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_GetLoanTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanTransactions" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_GetLoanTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_GetPeopleLoanTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleLoanTransactions" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_GetPeopleLoanTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleLoanTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_InsertLoanTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLoanTransactions" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_InsertLoanTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLoanTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_UpdateLoanTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLoanTransactions" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_UpdateLoanTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLoanTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_DeleteLoanTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLoanTransactions" />
  </wsdl:message>
  <wsdl:message name="ILoanTransactionsService_DeleteLoanTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLoanTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoanTransactionsService">
    <wsdl:operation name="SetLoanPermission">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanTransactionsService/SetLoanPermission" message="tns:ILoanTransactionsService_SetLoanPermission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanTransactionsService/SetLoanPermissionResponse" message="tns:ILoanTransactionsService_SetLoanPermission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContributionLoan">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanTransactionsService/ContributionLoan" message="tns:ILoanTransactionsService_ContributionLoan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanTransactionsService/ContributionLoanResponse" message="tns:ILoanTransactionsService_ContributionLoan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnPermittedLoanTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanTransactionsService/UnPermittedLoanTransactions" message="tns:ILoanTransactionsService_UnPermittedLoanTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanTransactionsService/UnPermittedLoanTransactionsResponse" message="tns:ILoanTransactionsService_UnPermittedLoanTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PermittedLoanTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanTransactionsService/PermittedLoanTransactions" message="tns:ILoanTransactionsService_PermittedLoanTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanTransactionsService/PermittedLoanTransactionsResponse" message="tns:ILoanTransactionsService_PermittedLoanTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanTransactionsService/GetLoanTransactions" message="tns:ILoanTransactionsService_GetLoanTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanTransactionsService/GetLoanTransactionsResponse" message="tns:ILoanTransactionsService_GetLoanTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeopleLoanTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanTransactionsService/GetPeopleLoanTransactions" message="tns:ILoanTransactionsService_GetPeopleLoanTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanTransactionsService/GetPeopleLoanTransactionsResponse" message="tns:ILoanTransactionsService_GetPeopleLoanTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLoanTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanTransactionsService/InsertLoanTransactions" message="tns:ILoanTransactionsService_InsertLoanTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanTransactionsService/InsertLoanTransactionsResponse" message="tns:ILoanTransactionsService_InsertLoanTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLoanTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanTransactionsService/UpdateLoanTransactions" message="tns:ILoanTransactionsService_UpdateLoanTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanTransactionsService/UpdateLoanTransactionsResponse" message="tns:ILoanTransactionsService_UpdateLoanTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLoanTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanTransactionsService/DeleteLoanTransactions" message="tns:ILoanTransactionsService_DeleteLoanTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoanTransactionsService/DeleteLoanTransactionsResponse" message="tns:ILoanTransactionsService_DeleteLoanTransactions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoanTransactionsService" type="tns:ILoanTransactionsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetLoanPermission">
      <soap:operation soapAction="http://tempuri.org/ILoanTransactionsService/SetLoanPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContributionLoan">
      <soap:operation soapAction="http://tempuri.org/ILoanTransactionsService/ContributionLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnPermittedLoanTransactions">
      <soap:operation soapAction="http://tempuri.org/ILoanTransactionsService/UnPermittedLoanTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermittedLoanTransactions">
      <soap:operation soapAction="http://tempuri.org/ILoanTransactionsService/PermittedLoanTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoanTransactions">
      <soap:operation soapAction="http://tempuri.org/ILoanTransactionsService/GetLoanTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeopleLoanTransactions">
      <soap:operation soapAction="http://tempuri.org/ILoanTransactionsService/GetPeopleLoanTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLoanTransactions">
      <soap:operation soapAction="http://tempuri.org/ILoanTransactionsService/InsertLoanTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLoanTransactions">
      <soap:operation soapAction="http://tempuri.org/ILoanTransactionsService/UpdateLoanTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLoanTransactions">
      <soap:operation soapAction="http://tempuri.org/ILoanTransactionsService/DeleteLoanTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanTransactionsService">
    <wsdl:port name="BasicHttpBinding_ILoanTransactionsService" binding="tns:BasicHttpBinding_ILoanTransactionsService">
      <soap:address location="http://192.168.1.10:85/LoanTransactionsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>