KhajeNasirAccountingSystem/KhajeNasirAccountingSystemWindowsFormClient/Service References/LogService/LogService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KhajeNasirAccountingSystemWcfServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogSet_SelectResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogSet_SelectResult" nillable="true" type="tns:LogSet_SelectResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogSet_SelectResult" nillable="true" type="tns:ArrayOfLogSet_SelectResult" />
  <xs:complexType name="LogSet_SelectResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogSet_SelectResult" nillable="true" type="tns:LogSet_SelectResult" />
</xs:schema>